.box-one {
    width: 28%;
}

.box-one img {
    width: 100%;
}

.box-container {
    display: flex;
    gap: 20px;
    width: 70%;
}

h1{
    text-align: center;
}

.main-box {
    display: flex;
    gap: 50px;
}

button {
    padding: 10px 50px;
}

.boxInputBtn button, input{
    padding: 10px 20px;
}

.boxInputBtn input{
    padding: 10px ;
}